<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RRReis Bus stats</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
</head>
<body>
    <% if(user) { %>
        <% if(settings.admins.includes(user.user.id)) { %>
        <div class="admin-div">
            <a href="/admin">Admin</a>
        </div>
        <% } %>
    <% } %>

    <h1 class="title">Global Stats</h1>
    <h4 class="stats"><i class="fad fa-bus"></i> Curbs Hit: <%- statscount.curb %></h1>
    <h4 class="stats"><i class="fad fa-clock"></i> Delay: <%- formatteddelay %> (<%- statscount.delay %> min)</h1>
    <h4 class="stats"><i class="fad fa-hand-paper"></i> Stops Skipped: <%- statscount.skips %></h1>
<div class="stats-rows">
    <h2 class="stats-title bustitle">Busses</h2>
    <div class="busses">
        <% busnum.forEach (bus => { 
            if(bus.id === "all") return; 
            if(bus.type == "train") return; %>
        <a class="busbtn" href="/stats/<%- bus.id %>"><i class="fas fa-bus"></i> <%- bus.id %></a>
        <% }); %>
    </div>
    <h2 class="stats-title">Trains</h2>
    <div class="trains">
        <% busnum.forEach (bus => { 
            if(bus.id === "all") return; 
            if(bus.type == "bus") return; %>
        <a class="busbtn" href="/stats/<%- bus.id %>"><i class="fas fa-bus"></i> <%- bus.id %></a>
        <% }); %>
    </div>
</div>
    
<div class="info">
    <p>
        <strong>Info:</strong> These are stats that we've collected from the busses that drive in Overijssel and from the busses that we've been in. We've been collecting these statistics since 5/10/2021.
    </p>
</div>
</body>
</html>