<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RRReis Bus stats</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="title">Global Bus Stats</h1>
    <h4 class="stats">Curbs Hit: <%- statscount.curb %></h1>
    <h4 class="stats">Delay: <%- statscount.delay %> minutes</h1>
    <h4 class="stats">Stops Skipped: <%- statscount.skips %></h1>
<div class="busses">
    <% busnum.forEach (bus => { %>
    <a class="busbtn" href="/stats/<%- bus %>"><%- bus %></a>
    <% }); %>

</div>
    
<div class="info">
    <p>
        <strong>Info:</strong> These are stats that we've collected from the busses that drive in Overijssel and from the busses that we've been in. We've been collecting these statistics since 5/10/2021.
    </p>
</div>
</body>
</html>