<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RRReis Bus stats</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
</head>
<body>
    <% if(busExists) { %>
        <h1 class="title">Bus stats of <i class="fas fa-bus"></i> <%- buss %></h1>
    <h1 class="stats"><i class="fad fa-bus"></i> Curbs Hit: <%- statscount.curb %></h1>
    <h1 class="stats"><i class="fad fa-clock"></i> Delay: <%- statscount.delay %> minutes</h1>
    <h1 class="stats"><i class="fad fa-hand-paper"></i> Stops Skipped: <%- statscount.skips %></h1>
    
<div class="busses">
    <a class="busbtn" href="/"><i class="fas fa-arrow-left"></i> Back Home</a>
</div>
<% if(buss.startsWith('5')) { %>
    <div class="info">
        <p>
            <strong>Info:</strong> The stats of this bus is collected by: Zaadinternet#2996.
        </p>
    </div>
<% } else {%>
    <div class="info">
        <p>
            <strong>Info:</strong> The stats of this bus is collected by: Daneric#1617 & Frankie#4073.
        </p>
    </div>
<% } %>
<%} else {%>
    <h1 class="title">No bus found with id <%- buss %></h1>
<% } %>
</body>
</html>